@page
@model Web.Pages.Productos.DetalleModel
@{
}
<h1>Detalle del Producto</h1>
<div class="container">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelo => modelo.producto.Categoria) @Html.DisplayFor(modelo => modelo.producto.SubCategoria)</h5>
                <p class="card-text">
                    <div>
                        <b>@Html.DisplayNameFor(modelo => modelo.producto.Nombre):</b>
                        @Html.DisplayFor(modelo => modelo.producto.Nombre)
                    </div>
                    <div>
                        <b>@Html.DisplayNameFor(modelo => modelo.producto.Descripcion):</b>
                        @Html.DisplayFor(modelo => modelo.producto.Descripcion)
                    </div>
                    <div>
                        <b>@Html.DisplayNameFor(modelo => modelo.producto.Precio):</b>
                        @Html.DisplayFor(modelo => modelo.producto.Precio)
                    </div>
                    <div>
                        <b>@Html.DisplayNameFor(modelo => modelo.producto.Stock):</b>
                        @Html.DisplayFor(modelo => modelo.producto.Stock)
                    </div>
                </p>
                <p class="card-text"><small class="text-muted"> @Html.DisplayFor(modelo => modelo.producto.CodigoBarras)</small></p>
            </div>
        </div>
    </div>
    <a type="button" class="btn btn-primary" asp-page="./Index">regresar</a>
    <a type="button" class="btn btn-warning" asp-page="./Editar" asp-route-id="@Model.producto.Id"> Editar</a>
</div>

