@page
@model Web.Pages.Productos.EliminarModel
@{
}
<h1>Eliminar Producto</h1>
<div class="container">
    <form method="post">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelo => Model.producto.Categoria) @Html.DisplayFor(modelo => Model.producto.SubCategoria)</h5>
                    <p class="card-text">
                        <div>
                            <b>@Html.DisplayNameFor(modelo => Model.producto.Nombre):</b>
                            @Html.DisplayFor(modelo => Model.producto.Nombre)
                        </div>
                        <div>
                            <b>@Html.DisplayNameFor(modelo => Model.producto.Stock):</b>
                            @Html.DisplayFor(modelo => Model.producto.Stock)
                        </div>
                        <div>
                            <b>@Html.DisplayNameFor(modelo => Model.producto.Precio):</b>
                            @Html.DisplayFor(modelo => Model.producto.Precio)
                        </div>
                    </p>
                    <p class="card-text"><small class="text-muted"> @Html.DisplayFor(modelo => Model.producto.CodigoBarras)</small> </p>
                </div>
            </div>
        </div>
        <a type="button" class="btn btn-primary" asp-page="./Index">regresar</a>
        <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
</div>