@page
@model Web.Pages.Productos.IndexModel
@{
}
<div class="productos-container">
    <div class="header">
        <h1>Productos</h1>
        <a class="btn-agregar" asp-page="./Agregar">+ Agregar</a>
    </div>
    <div class="grid">
        @if (Model.productos != null && Model.productos.Any())
        {
            foreach (var producto in Model.productos)
            {
                <div class="card">
                    <div class="card-body">
                        <h3>@producto.Nombre</h3>
                        <p class="categoria-texto"><strong>Categoría:</strong> @producto.Categoria</p>
                        <p class="subcategoria-texto"><strong>Subcategoría:</strong> @producto.SubCategoria</p>
                        <p class="descripcion">@producto.Descripcion</p>
                        <p class="precio">₡ @producto.Precio</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn detalle" asp-page="./Detalle" asp-route-id="@producto.Id">Detalle</a>
                        <a class="btn editar" asp-page="./Editar" asp-route-id="@producto.Id">Editar</a>
                        <a class="btn eliminar" asp-page="./Eliminar" asp-route-id="@producto.Id">Eliminar</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="no-data">No hay productos registrados.</p>
        }
    </div>

</div>
